name: Iron Deploy - Security Audit

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

# TAMBAHAN BARU: Memberi izin tulis ke Issues
permissions:
  contents: read
  issues: write 

jobs:
  dast_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Build & Run Container (Punya kamu udah bener)
      - name: Build & Run Docker Container
        run: |
          docker build -t iron-app .
          # Pakai --add-host biar msmtp aman
          docker run -d -p 8080:80 --add-host=host.docker.internal:host-gateway --name container-saya iron-app
          sleep 10

      # Jalankan ZAP Scanner
      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.11.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: 'http://localhost:8080'
          allow_issue_writing: true 
          fail_action: false 
          cmd_options: '-a'